%section.section
    .columns
        .column.is-3
            %component-lesli-calendar
            %component-calendar-list    
        .column
            .card
                .card-content
                    %fullcalendar{ "defaultView" => "timeGridWeek", ":plugins" => "plugins" }
