<h1>Editing attendant</h1>

<%= render "form", event_attendant: @event_attendant %>

<br>

<div>
  <%= link_to "Show this attendant", @event_attendant %> |
  <%= link_to "Back to attendants", event_attendants_path %>
</div>
