<nav class="module-navigation navbar is-transparent">
    <div class="navbar-menu" id="header-module-navbar">
        <div class="navbar-start">
            <%= link_to "Calendars", root_path, class: "navbar-item" %>
        </div>
        <div class="navbar-end">
            <%= link_to "Add calendar", root_path, class: "navbar-item" %>
        </div>
    </div>
</nav>
